.scroll-icon {
  max-height: 10vh;
  max-width: 10vh;
  border: 4px $color-gradient-primary solid;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: 4rem;
  top: 85vh;

  @include respond(tab-port) {
    max-height: 7vh;
    max-width: 7vh;
    border: 2px $color-gradient-primary solid;
    right: 1rem;
    top: 85vh;
  }

  &__img {
    height: 85%;
    width: 85%;
    transform: translateY(0.3rem);
  }
}
