#a-scroll-icon {
  // transition: opacity 1s ease-in-out 1s;
  // transition: display 1s ease-in-out 0s;
  transition: all 1s ease-in-out 1s;
}

// .visible {
// opacity: 1;
// display: initial;
// visibility: visible;
// animation: rightIn 0.75s ease-out;
// transform: scale(1);
// }

// .invisible {
// opacity: 0;
// display: none;
// visibility: hidden;
// animation: rightOut 0.75s ease-out;
// transform: scale(0);
// }

.scroll-icon {
  height: 5em;
  width: 5em;
  border: 5px $color-gradient-primary solid;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: 4rem;
  top: 85vh;
  animation: rightIn 0.75s ease-out 1.75s;
  animation-fill-mode: backwards;

  @include respond(tab-port) {
    max-height: 4em;
    max-width: 4em;
    border: 3px $color-gradient-primary solid;

    right: 2rem;
    top: 86vh;
  }

  &__arrow {
    height: 80%;
    width: 80%;
    color: $color-gradient-secondary;
    line-height: 7rem;

    @include respond(tab-port) {
      line-height: 6rem;
    }
  }
}
