$color-gradient-primary: rgb(30, 115, 172);
$color-gradient-secondary: rgb(142, 57, 153);
// $color-gradient-primary: rgb(30, 115, 172);
// $color-gradient-secondary: rgb(142, 57, 153);

$color-card-1-primary: skyblue;
$color-card-1-secondary: violet;
$color-card-2-primary: #6369b5;
$color-card-2-secondary: #f0b5e6;
$color-card-3-primary: #fff;
$color-card-3-secondary: #ff0000;
// $color-card-4-primary: rgb(107, 51, 14);
// $color-card-4-secondary: rgb(151, 143, 28);
// $color-card-5-primary: rgb(57, 107, 42);
// $color-card-5-secondary: rgb(27, 46, 33);
// $color-card-6-primary: rgb(131, 131, 131);
// $color-card-6-secondary: rgb(46, 46, 46);

$color-primary: #4c5f9a;
$color-secondary: #64495e;
$color-tertiary: #d5808e;
// $color-primary: #4c5f9a;
// $color-secondary: #64495e;
// $color-tertiary: #d5808e;

$color-grey-light: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//row
$row-width: 95rem;
$gap-height: 4rem;
$gap-height-small: 3rem;
$gap-width: 5rem;

$default-font-size: 1.6rem;
